.fecha{
    position: relative;
    height: 50px;
    width: 10%;
}

.carta{
    height: 150px;
    width: 50%;
}

.boton{
    height: 50px;
    width: 50px;
    margin-top: 40px;
    border-radius: 5px;
}

.img {
    height: 150px;
    width: 160px;
  }

.imagen{
    height: 150px;
    width: 160px;
}
