
    .updated {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: calc(50% - 50vw);
      width: 100vw;
      padding-left: 20px;
      padding-right: 20px;
      font-family: Source Sans Pro, sans-serif;
      padding-bottom: 50px;
      background-color: rgba(250, 112, 26, 0.33);
    }
    .section {
      width: 100%;
      align-self: stretch;
      flex-grow: 1;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }
    .group-2-updated {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0);
    }
    .div {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-left: calc(50% - 50vw);
      width: 100vw;
      padding-left: 20px;
      padding-right: 20px;
      background-image: url(https://cdn.builder.io/api/v1/image/assets%2F6779c8d94259456aa8a18297a34ed4d5%2Fad5598b33b914511b4473a8b921a3c9d?width=2000);
      background-position: center;
      background-size: cover;
      padding-bottom: 2px;
      padding-top: 17px;
      margin-right: 60px;
      background-repeat: no-repeat;
    }
    @media (max-width: 991px) {
      .div {
        padding-bottom: 102px;
      }
    }
    .wrap-center-updated {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    .bitmap {
      height: 26px;
      width: 139.38px;
      max-width: 90vw;
      margin-top: 6.5px;
      margin-left: 0px;
      position: relative;
    }
    @media (max-width: 991px) {
      .bitmap {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .image {
      object-fit: cover;
      object-position: center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    .image-sizer {
      width: 100%;
      padding-top: 98.27%;
      pointer-events: none;
      font-size: 0;
    }
    .wrap-updated {
      margin-top: 13px;
      margin-left: auto;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: auto;
    }
    @media (max-width: 640px) {
      .wrap-updated {
        margin-left: 0px;
        justify-content: center;
        padding-right: 19px;
      }
    }
    .platform-tour {
      height: auto;
      width: auto;
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      margin-top: 0px;
      margin-left: 0px;
      position: relative;
      display: flex;
      cursor: pointer;
      pointer-events: auto;
    }
    @media (max-width: 640px) {
      .platform-tour {
        margin-left: 20px;
        margin-top: 20px;
      }
    }
    .design-education {
      height: auto;
      width: auto;
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      margin-top: 0px;
      margin-left: 53.3px;
      position: relative;
      display: flex;
      cursor: pointer;
      pointer-events: auto;
    }
    @media (max-width: 640px) {
      .design-education {
        margin-left: 20px;
        margin-top: 20px;
      }
    }
    .design-community {
      height: auto;
      width: auto;
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      margin-top: 0px;
      margin-left: 55.2px;
      position: relative;
      display: flex;
      cursor: pointer;
      pointer-events: auto;
    }
    @media (max-width: 640px) {
      .design-community {
        margin-left: 20px;
        margin-top: 20px;
      }
    }
    .enterprise {
      height: auto;
      width: auto;
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      margin-top: 0px;
      margin-left: 66.5px;
      position: relative;
      display: flex;
      cursor: pointer;
      pointer-events: auto;
    }
    @media (max-width: 640px) {
      .enterprise {
        margin-left: 20px;
        margin-top: 20px;
      }
    }
    .group-9-updated {
      margin-top: 0px;
      margin-left: auto113.5px;
      position: relative;
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .group-9-updated {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
      }
    }
    .wrap-right-updated {
      margin-top: 0px;
      position: relative;
      margin-left: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .sign-up-free {
      height: auto;
      width: auto;
      color: rgba(0, 0, 0, 1);
      font-size: 14px;
      position: relative;
      border-style: solid;
      border-width: 1px;
      padding-left: 23px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 23px;
      border-radius: 400px;
      font-weight: 600;
      border-color: rgba(0, 0, 0, 1);
    }
    @media (max-width: 991px) {
      .sign-up-free {
        margin-left: 0px;
      }
    }
    .div-2 {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 20px;
      height: 30px;
    }
    .center {
      height: auto;
      width: auto;
      letter-spacing: 4.6px;
      color: rgba(255, 255, 255, 1);
      font-size: 56px;
      margin-top: 0px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 991px) {
      .center {
        width: auto;
        align-self: stretch;
        text-align: center;
      }
    }
    @media (max-width: 640px) {
      .center {
        margin-top: -57px;
      }
    }
    .center-updated {
      margin-top: 90.2px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      padding-bottom: 0px;
      margin-bottom: -1px;
    }
    @media (max-width: 991px) {
      .center-updated {
        margin-top: 129.2px;
      }
    }
    .center-2 {
      height: auto;
      width: auto;
      letter-spacing: 4.6px;
      color: rgba(255, 255, 255, 1);
      font-size: 46px;
      margin-top: 0px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 991px) {
      .center-2 {
        width: auto;
        align-self: stretch;
        text-align: center;
      }
    }
    @media (max-width: 640px) {
      .center-2 {
        margin-top: -57px;
      }
    }
    .center-3 {
      height: auto;
      width: auto;
      color: rgba(255, 255, 255, 1);
      font-size: 22px;
      margin-top: 17px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 991px) {
      .center-3 {
        text-align: center;
      }
    }
    .center-updated-2 {
      margin-top: 59px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
    }
    .div-3 {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 458.02px;
      background-color: rgba(252, 144, 49, 0);
      padding-right: 0px;
      margin-right: -1px;
    }
    .center-updated-3 {
      margin-top: 88.2px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .center-updated-3 {
        margin-top: 129.2px;
      }
    }
    .form-input {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 3px;
      border-width: 8px;
      border-style: double;
      border-color: rgba(0, 0, 0, 1);
      font-weight: 600;
      font-size: 29px;
      background-color: rgba(243, 209, 209, 1);
      font-style: italic;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
    }
    .form-select {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 20px;
      align-self: flex-start;
      background-color: rgba(243, 52, 52, 0.63);
      font-weight: 700;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding-bottom: 5px;
      font-size: 28px;
      padding-top: 5px;
      padding-left: 5px;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
      opacity: 1;
    }
    .form-submit-button {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 20px;
      appearance: none;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;
      background-color: rgba(56, 152, 236, 0);
      color: rgba(3, 169, 223, 1);
      border-radius: 4px;
      cursor: pointer;
      font-weight: 600;
      opacity: 1;
      border-style: none;
      font-size: 16px;
      text-align: center;
      width: 100%;
      height: auto;
      flex-grow: 0;
      margin-left: auto;
      align-self: stretch;
      margin-right: auto;
    }
    .span {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 72px;
      appearance: none;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;
      background-color: rgba(96, 182, 0, 1);
      color: rgba(0, 0, 0, 1);
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
      font-weight: 600;
    }
    .center-updated-4 {
      margin-top: 59px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
    }
    .group-4-updated {
      margin-left: auto;
      margin-top: 54.32499999999999px;
      position: relative;
      display: flex;
      flex-direction: row;
      margin-right: auto;
      flex-wrap: wrap;
      align-items: center;
    }
    @media (max-width: 991px) {
      .group-4-updated {
        padding-right: 35px;
        justify-content: center;
        margin-top: 28.32499999999999px;
      }
    }
    .columns-center-updated {
      margin-top: 102px;
      position: relative;
      display: flex;
      flex-direction: column;
      width: auto;
      align-self: stretch;
    }
    .group-11-updated {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: auto;
      margin-bottom: auto;
    }
    .columns-center-updated-2 {
      margin-top: 94px;
      position: relative;
      display: flex;
      flex-direction: column;
      width: auto;
      align-self: stretch;
    }
    .columns-center-updated-3 {
      margin-top: 15.643749999999997px;
      position: relative;
      display: flex;
      flex-direction: column;
      width: auto;
      align-self: stretch;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    .div-4 {
      display: flex;
    }
    @media (max-width: 999px) {
      .div-4 {
        flex-direction: column;
        align-items: stretch;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: calc(33.333333333333336% - 13.333333333333334px);
      margin-left: 0px;
    }
    @media (max-width: 999px) {
      .column {
        width: 100%;
      }
    }
    .group-14-updated {
      position: relative;
      display: flex;
      flex-direction: column;
    }
    .design {
      height: auto;
      width: auto;
      color: rgba(23, 25, 29, 1);
      font-size: 22px;
      margin-top: 0px;
      margin-left: 0px;
      position: relative;
    }
    @media (max-width: 991px) {
      .design {
        text-align: center;
        margin-top: 1px;
      }
    }
    .quickly-turn-ideas-into-powerful-screen-designs-with-intuitive-vector-based-drawing-and-flexible-layers {
      height: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 17px;
      margin-left: 0px;
      margin-top: 21.7px;
      position: relative;
    }
    @media (max-width: 991px) {
      .quickly-turn-ideas-into-powerful-screen-designs-with-intuitive-vector-based-drawing-and-flexible-layers {
        text-align: center;
      }
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: calc(33.333333333333336% - 13.333333333333334px);
      margin-left: 20px;
    }
    @media (max-width: 999px) {
      .column-2 {
        width: 100%;
      }
    }
    .group-12-updated {
      position: relative;
      display: flex;
      flex-direction: column;
    }
    .prototype-and-animate {
      height: auto;
      width: auto;
      color: rgba(23, 25, 29, 1);
      font-size: 22px;
      margin-top: 0px;
      margin-left: 0px;
      position: relative;
    }
    @media (max-width: 991px) {
      .prototype-and-animate {
        text-align: center;
        margin-top: 28px;
      }
    }
    .effortlessly-animate-transitions-and-add-micro-interactions-to-transform-your-static-screens-into-working-prototypes {
      height: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 17px;
      margin-left: 0px;
      margin-top: 21.7px;
      position: relative;
    }
    @media (max-width: 991px) {
      .effortlessly-animate-transitions-and-add-micro-interactions-to-transform-your-static-screens-into-working-prototypes {
        text-align: center;
      }
    }
    .column-3 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: calc(33.333333333333336% - 13.333333333333334px);
      margin-left: 20px;
    }
    @media (max-width: 999px) {
      .column-3 {
        width: 100%;
      }
    }
    .group-13-updated {
      position: relative;
      display: flex;
      flex-direction: column;
    }
    .collaborate {
      height: auto;
      width: auto;
      color: rgba(23, 25, 29, 1);
      font-size: 22px;
      margin-top: 0px;
      margin-left: 0px;
      position: relative;
    }
    @media (max-width: 991px) {
      .collaborate {
        text-align: center;
        margin-top: 28px;
      }
    }
    .seamlessly-navigate-the-entire-design-process-in-one-place-keeping-everyone-fully-engaged-and-notified-of-changes {
      height: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 17px;
      margin-left: 0px;
      margin-top: 21.7px;
      position: relative;
    }
    @media (max-width: 991px) {
      .seamlessly-navigate-the-entire-design-process-in-one-place-keeping-everyone-fully-engaged-and-notified-of-changes {
        text-align: center;
      }
    }
    .center-4 {
      height: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 21px;
      margin-top: 48px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    .center-updated-5 {
      margin-top: 227px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
    }
    .columns-center-updated-4 {
      margin-top: 64px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    @media (max-width: 991px) {
      .columns-center-updated-4 {
        margin-top: 45px;
        width: auto;
        align-self: stretch;
        text-align: center;
      }
    }
    .div-5 {
      display: flex;
    }
    @media (max-width: 999px) {
      .div-5 {
        flex-direction: column;
        align-items: stretch;
      }
    }
    .column-4 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: calc(20% - 16px);
      margin-left: 0px;
    }
    @media (max-width: 999px) {
      .column-4 {
        width: 100%;
      }
    }
    .group-8-updated {
      position: relative;
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .group-8-updated {
        margin-top: 35px;
      }
    }
    .contact {
      height: auto;
      width: auto;
      color: rgba(159, 161, 167, 1);
      font-size: 12px;
      margin-top: 0px;
      margin-left: 0px;
      position: relative;
    }
    .contact-lorem {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 38px;
      position: relative;
    }
    .column-5 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: calc(20% - 16px);
      margin-left: 20px;
    }
    @media (max-width: 999px) {
      .column-5 {
        width: 100%;
      }
    }
    .group-5-updated {
      position: relative;
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .group-5-updated {
        margin-top: 35px;
      }
    }
    .about {
      height: auto;
      width: auto;
      color: rgba(159, 161, 167, 1);
      font-size: 12px;
      margin-top: 0px;
      margin-left: 0px;
      position: relative;
    }
    .about-lorem {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 38px;
      position: relative;
    }
    .lorem-for-startups {
      height: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .pricing {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .students-teachers {
      height: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .jobs {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .column-6 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: calc(20% - 16px);
      margin-left: 20px;
    }
    @media (max-width: 999px) {
      .column-6 {
        width: 100%;
      }
    }
    .group-6-updated {
      position: relative;
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .group-6-updated {
        margin-top: 35px;
      }
    }
    .platform {
      height: auto;
      width: auto;
      color: rgba(159, 161, 167, 1);
      font-size: 12px;
      margin-top: 0px;
      margin-left: 0px;
      position: relative;
    }
    .freehand {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 38px;
      position: relative;
    }
    .boards {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .studio {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .craft {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .prototype {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .column-7 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: calc(20% - 16px);
      margin-left: 20px;
    }
    @media (max-width: 999px) {
      .column-7 {
        width: 100%;
      }
    }
    .group-7-updated {
      position: relative;
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .group-7-updated {
        margin-top: 35px;
      }
    }
    .resources {
      height: auto;
      width: auto;
      color: rgba(159, 161, 167, 1);
      font-size: 12px;
      margin-top: 0px;
      margin-left: 0px;
      position: relative;
    }
    .design-resources {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 38px;
      position: relative;
    }
    .product-training {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .help-center {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .knowledge-base {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .community {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      margin-left: 0px;
      margin-top: 20px;
      position: relative;
    }
    .column-8 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: calc(20% - 16px);
      margin-left: 20px;
    }
    @media (max-width: 999px) {
      .column-8 {
        width: 100%;
      }
    }
    .blog {
      height: auto;
      width: auto;
      color: rgba(74, 78, 87, 1);
      font-size: 14px;
      position: relative;
    }
    @media (max-width: 991px) {
      .blog {
        margin-top: 18px;
      }
    }
  