.centrado{
    padding-top: 60px;
    display: block;
    align-items: center;
    align-self: center;
}

.centrado img{
   margin-top: 50px;
}

.subbot{
    display: flex;
    align-self: center;
    padding: auto;
    margin: auto;
}
.contenedor{
    display: none;
}

.switchpad{
    padding-top: 20px;
}